* {
    margin: 0;
    padding: 0;
    list-style: none;
    font: inherit;
}

*, :after, :before {
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

:root {
    -webkit-tab-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-wrap: break-word;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}